:root {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(65, 64, 64);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    /* white-space: nowrap; /* Evita el ajuste de línea */
    /*overflow: hidden; /* Evita el desbordamiento de texto */
    /*flex-wrap: nowrap; /* Evita que los elementos se envuelvan a múltiples líneas */
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1cm;

}

.logo img {
    width: 25%;
    margin-right: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* Tamaño de fuente para otros textos */
    line-height: 1.6;
    /* Altura de línea para "Conf Bs As" */
    margin-right: 1px;
    /* Ajusta el margen derecho según tus preferencias */
}

.conf-bs-as {
    font-size: 23px;
    /* Tamaño de fuente más grande para "Conf Bs As" */
    line-height: 1;
    /* Altura de línea para "Conf Bs As" */
    color: white;
    /* Color de texto blanco */
}

.oradores {
    color: rgb(158, 156, 157);
}

.lugar {
    color: rgb(158, 156, 157);
}

.convert {
    color: rgb(158, 156, 157);
}

.tickets {
    color: rgb(114, 186, 114);
    margin-right: 1cm
        /* Igual al margen izquierdo del logo */
}

.full-width-carousel-container {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 600px;
    /* Ajusta la altura máxima según tus preferencias */
    overflow: hidden;
    /* Evita que el carrusel se desborde si la imagen es demasiado grande */
    position: relative;
}

.full-width-carousel img {
    filter: brightness(50%);
}

.carousel-title-container {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 20%; /* Ajusta la posición vertical según tus preferencias */
    left: 1230px; /* Ajusta la posición horizontal según tus preferencias */
    z-index: 1; /* Coloca el título del carrusel por encima de las imágenes */
}

.text-container {
    position: absolute;
    font-size: 18px;
    top: 60%; /* Centra verticalmente en relación con el contenedor padre */
    right: 0; /* Alinea a la derecha del contenedor padre */
    transform: translateY(-50%); /* Corrige la alineación vertical */
    color: white;
    padding: 2px;
    text-align: right;   /* Justifica el texto a la derecha */
    margin-right: 120px;   /*Ajusta el margen derecho según tus preferencias */
    
    line-height: 0.5; /* Establece el espacio de interlineado a 1, lo que reduce el espacio entre líneas al mínimo */    
}

.button-container {
    display: flex;
    justify-content: flex-end;
    /* Alinea los botones a la derecha */
    margin-top: 30px;
    /* Ajusta la distancia entre el texto y los botones según tus preferencias */
}

.button-container button {
    margin-left: 10px;
    /* Añade un espacio entre los botones si lo deseas */
}

.image-container img {
    object-fit: cover;
}

.small-text {
    margin-top: 0.2cm;
    text-align: center;
    /* Centra el texto horizontalmente */
    font-size: 12px;
    /* Tamaño de fuente más pequeño para "ORADORES y ORADOR" */
    margin-bottom: 0;
}

.large-text {
    margin-top: 0;
    /* Elimina la separación entre el texto y su contenedor */
    text-align: center;
    /* Centra el texto horizontalmente */
    font-size: 30px;
    /* Tamaño de fuente grande para "CONOCE A LOS y CONVIERTE EN UN" */
    font-weight: 600;
    margin-bottom: 0;
}

.medium-text {
    text-align: center;
    font-size: 16px; /* Tamaño de fuente medio para "Anótate como orador para dar una charla ignite." */
    margin-bottom: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    margin-top: 0.1cm;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-bottom: 1cm;
}

.card {
    text-align: left;
    background-color: #f7f7f7;
    padding: 0px;
    width: calc(30% - 1cm); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-inline-end: 1cm;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.icon-button {
    margin-left: 0.5cm;
    margin-top: 0;
    color: white;
    border: none;
    border-radius: 5px;
    margin: right -0.3px;
    font-size: 12px;
    font-weight: 500;
}

#buttonreact {
    background-color: #3ea9d7;
}

#buttonjs {
   background-color: #e4cb27;
   color: black;
 }

#buttonnegocios {
    background-color: #7c7c78;
}

#buttonstartups {
    background-color: #cf3524;
}

.card-name {
    margin-left: 0.5cm;
    font-weight: 500;
    margin-top: 0px;
    font-size: 20px;
}

.card-text {
    margin-top: 1px;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    padding-bottom: 15px; /* Añade un espacio en la parte inferior del texto */
}

/* Estilos para la división en dos paneles */
.split-screen {
    display: flex;
    height: 13.5cm; /* Ajusta la altura según tus preferencias */
    background-color: #f7f7f7; /* Color de fondo para toda la sección */
    margin: 0; /* Elimina el margen predeterminado de la página */
    max-width: 100%; 
}

.left-panel {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1cm;
    padding: 0; /* Elimina el espacio interno en el panel izquierdo */
}

.left-image {
    width: 100%; /* La imagen se ajustará al tamaño del contenedor */
    height: 100%; /* La imagen se ajustará al tamaño del contenedor */
}

.right-panel {
    flex: 1; 
    justify-content: flex-end; /* Extremo derecho */
    padding: 0; /* Espacio interno en el panel derecho */
    text-align: left;
    background-color: rgb(62, 61, 61);
    margin-bottom: 1cm;
}

.right-content {
    max-width: 100%; /* Ajusta el ancho máximo del contenido según tus preferencias */
    padding: 10px; /* Añade un espacio interno al contenido del panel derecho */
}

.right-content h2 {
    margin-left: 6px;
    font-size: 24px; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Espacio entre el título y el texto */
    color: #f7f7f7;
}

.right-content p {
    margin-left: 6px;
    font-size: 14px; /* Tamaño de fuente para el texto */
    margin-bottom: 10px; /* Espacio entre párrafos */
    color: #f7f7f7;
    line-height: 1; /* Establece el espacio entre líneas a un valor bajo o 1 para eliminarlo */
}

.conocemas {
    margin-left: 6px;
    border: 0cm;
    padding: 10px;
    font-size: 7px;
    cursor: pointer;
    border-radius: 3px;
}

.dotted-text {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.form-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
}

.form-control-group {
    display: flex;
}

.form-control {
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1;
    /* Hacer que los campos se expandan para ocupar el espacio disponible */
}

#apellido {
    margin-left: 20px;
}

#nombre,
#apellido {
    font-size: 14px;
    /* Ajusta el tamaño de fuente según tus preferencias */
}

/* Aplicar fuente más pequeña a los campos "Nombre" y "Apellido" selector de clase .form-control*/

.titulo-charla {
    color: #888;
    text-align: left;
}

button.btn-enviar {
    background-color: #84d641;
    color: white;
    width: 100%;
    font-size: 20px;
    /* Otros estilos si los necesitas */
}


/* Estilos para la barra de navegación en el footer */
.navbarbotton {
    background-image: linear-gradient(to right, #0b3648, #15536d);
    height: 90px;
    /* Altura de la barra de navegación */
    padding-left: 5cm;
    /* Espacio izquierdo de 5cm */
    padding-right: 5cm;
    /* Espacio derecho de 5cm */
    text-align: center;
    /* Alinea el texto al centro horizontalmente */
    justify-content: space-between;
    align-items: center;
}

/* Estilos para los enlaces en la barra de navegación en el footer */
.nav-linksbottom {
    list-style: none;
    display: flex;
    gap: 1cm;
    /* Espacio horizontal entre los enlaces de 5cm */
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-linksbottom .nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1.6;
}

/* Ajusta el espacio derecho del último enlace si es necesario */
.nav-linksbottom .nav-itembottom:last-child .nav-link {
    margin-right: 0;
}